In [211]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import re

In [212]:
with open("knives/Navaja Knife.html") as file_reader:
    soup = BeautifulSoup(file_reader, "lxml")

In [213]:
weapons = pd.DataFrame(columns=['gun', 'skin', 'rarity', 'quality', 'price', 'quantity'])

In [214]:
tables = soup.find_all("div", "tab-content")

for table in tables:
    rows = table.find_all("tr")
    rarity_data = table.find_previous("div", "item-rare").find('p').get_text()
    searchObj = re.search(r'[a-zA-Z\-]+', rarity_data)
    rarity = searchObj.group()
    for row in rows:
        data = []
        title = row.find_previous("h3").get_text()
        searchObj = re.search( r'([a-zA-Z0-9\-]+ *[a-zA-Z0-9]*) \| ([a-zA-Z0-9]+ *[a-zA-Z0-9]*)', title)
        weapon_name = searchObj.group(1)
        weapon_skin = searchObj.group(2)
        data.append(weapon_name)
        data.append(weapon_skin)
        data.append(rarity)
        cols = row.find_all('td')
        cols = [ele.text for ele in cols]
        for ele in cols:
            data.append(ele)
        weapon = {'gun':data[0], 'skin':data[1], 'rarity':data[2], 'quality':data[3], 'price':data[4],'quantity':data[5]}
        #print(data)
        #print()
        weapons = weapons.append(weapon, ignore_index=True)

weapons.to_csv('dataset.csv')

In [215]:
weapons.head()

            gun         skin  rarity         quality      price quantity
0  Navaja Knife  Ultraviolet  Covert     Factory New   $ 251.05        1
1  Navaja Knife  Ultraviolet  Covert    Minimal Wear   $ 105.06        6
2  Navaja Knife  Ultraviolet  Covert    Field-Tested    $ 82.02       15
3  Navaja Knife  Ultraviolet  Covert       Well-Worn    $ 91.92        4
4  Navaja Knife  Ultraviolet  Covert  Battle-Scarred       $ 77        5