In [5]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

# Importing dataset
weapons = pd.read_csv('cleaned dataset with categories.csv')

weapons.loc[weapons['category'] == 'none']

,Unnamed: 0,gun,skin,rarity,stattrak,quality,price,quantity,category
1909,1986,★ Falchion Knife,Scorched,6,0,5,155.20,3.0,none
1910,1987,★ Falchion Knife,Scorched,6,0,4,96.45,9.0,none
1911,1988,★ Falchion Knife,Scorched,6,0,3,84.88,15.0,none
1912,1989,★ Falchion Knife,Scorched,6,0,2,87.35,6.0,none
1913,1990,★ Falchion Knife,Scorched,6,0,1,84.10,9.0,none
...,...,...,...,...,...,...,...,...,...
2838,2936,G3SG1,Chronos,4,0,3,162.63,9.0,none
2839,2937,G3SG1,Chronos,4,0,2,336.77,2.0,none
2840,2938,G3SG1,Green Apple,2,0,5,0.13,3898.0,none
2841,2939,G3SG1,Green Apple,2,0,4,0.09,4936.0,none
2842,2940,G3SG1,Green Apple,2,0,3,0.09,1572.0,none

## Weapon category indicator inputs

In [3]:
# Calculating the number of weapons in each category
weapons.groupby("category")["category"].count()

category
heavy     1089
knife     2381
none       317
pistol    2123
rifle     2163
smg       1457
Name: category, dtype: int64

In [4]:
# Creating dummy variables for weapon category
category_dummies = pd.get_dummies(weapons["category"])
category_dummies.head()

   heavy  knife  none  pistol  rifle  smg
0      0      0     0       0      1    0
1      0      0     0       0      1    0
2      0      0     0       0      1    0
3      0      0     0       0      1    0
4      0      0     0       0      1    0

In [ ]:
# Calculating linear regression for each column in category_dummies

heavies = category_dummies['heavy']
knives = category_dumies['knife']
pistol =